
.music-player-container {
  background-color: #f4e6ff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

/* For small screens (xs) */
@media (max-width: 576px) {
  .music-player-container {
    margin: 10px;
  }
}

/* For medium screens (md) */
@media (max-width: 768px) {
  .music-player-container {
    margin: 15px;
  }
}

/* For larger screens (lg and above) */
@media (min-width: 992px) {
  .music-player-container {
    margin: 20px auto;
  }
}


.album-art img {
  width: 100%;
  border-radius: 10px;
}

.song-info {
  margin-top: 20px;
}

.progress-container {
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}

.ant-slider {
  margin-top: 10px;
}

.artist-name {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

.delius-regular {
  font-family: "Delius", cursive;
  /* font-weight: 600; */
  font-style: normal;
  font-size: 2.5rem;
}

